.homepage {
    width: 100%;
    max-height: 100%;
    z-index: 200;
    @include xs {
        margin-top: 70px;
    }
    .slider {
        width: 100%;
        height: 100vh;
        position: relative;
       
        &__list {
            position: absolute;
            width: 100%;
            height: 100%;
            @include xs {
                position: initial;
            }
            &-item {
                width: 100%;
                height: 100%;
                position: relative;
                @include xs {
                    position: initial
                }
                .textbox {
                    @include mid();
                    text-align: center;
                    z-index: 200;
                    line-height: 80px;
                    @include md {
                        line-height: 70px;
                    }
                    @include ipX {
                        display: none;
                    }
                    @include sm {
                        line-height: 60px;
                    }
                    @include xs {
                        display: none;
                    }
                    .titlemain {
                        font-family: 'Elle Baskerville';
                        font-size: 80px;
                        text-transform: uppercase;
                        color: $white-cl;
                        letter-spacing: 2px;
                        position: relative;
                        padding: 30px 0;
                        @include md {
                            font-size: 70px;
                            padding: 25px 0;
                        }
                        @include sm {
                            font-size: 60px;
                            padding: 20px 0;
                        }
                        &::before {
                            content: '';
                            width: 770px;
                            height: 1px;
                            background-color: $white-cl;
                            display: inline-block;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                            @include md {
                                width: 670px;
                            }
                            @include sm {
                                width: 470px;
                            }
                        }
                    }
                    .title {
                        color: $white-cl;
                        font-size: 12px;
                        @include md {
                            font-size: 11px;
                        }
                        @include sm {
                            font-size: 10px;
                        }
                    }

                }
                .slider-img {
                    width: 100%;
                    height: 100%;
                    @include midimg();
                }
            }
        }
        &__bottom {
            width: 100%;
            position: absolute;
            bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include xs {
                display: none;
            }
            .mouse-arrow {
                height: 90px;
                @include sm {
                    height: 70px;
                }
            }
            .mouse-img {
                width: 25px;
                margin-top: 10px;
                @include sm {
                    width: 20px;
                }
            }
            .title {
                margin-top: 10px;
            }
        }
        &__btn {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                height: 100%;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 10px;
                padding: 10px 20px;
                img {
                    width: 15px;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                    transition: all $t ease;
                }
            }
            &-prev {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .mobiletextbox {
        width: 100%;
        text-align: center;
        display: none;
        margin-top: 65px;
        // line-height: 90px;
        padding: 0 60px;
        @include xs {
            display: block;
        }
        .titlemain {
            color: $black-cl;
            font-size: 65px;
            @include xxs {
                font-size: 55px;
            }
            @include maxW(480px) {
                font-size: 45px;
            }
            @include maxW(395px) {
                font-size: 38px;
            }
            &::before {
                background-color: $black-cl;
                height: 1px;
                width: 520px;
                // margin-top: 30px;
                @include xxs {
                    width: 420px;
                }
                @include maxW(480px) {
                    width: 380px;
                }
                @include maxW(395px) {
                   width: 280px;
                }
            }
        }
        .textmain {
            color: $black-cl;
            text-transform: uppercase;
            font-size: 18px;
            // margin-top: 30px;
            font-weight: 600;
            padding: 50px 0;
            @include xxs {
                font-size: 16px;
            }
            @include maxW(480px) {
                font-size: 12px;
            }
            @include maxW(395px) {
                font-size: 11px;
            }
        }
    }
    // Products
    .product {
        img {
            height: 100%;
            width: 100%;
        }
        .product__info {
            position: relative;
            height: 100%;
            margin-top: 30px;
            &-center {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(122,97,40,0.8);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transform: scale(0.5);
                transition: all $t ease;
                img {
                    width: 40px;
                    height: 40px;
                }
                p {
                    margin-top: 10px;
                    color: $white-cl;
                    font-size: 14px;
                }
                a {
                    display: flex;
                    align-items: center; 
                    margin-top: 10px;
                    color: $white-cl;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    img {
                        width: 20px;
                        margin-left: 10px;
                    }
                }
            }
            &:hover .product__info-center {
                opacity: 1;
                transform: scale(1);
                transition: all $t ease;
            }
        }
        &__item1 {
            display: grid;
            grid-gap: 30px;
            @include xs {
                display: block;
            }
            .item1__left {
                display: grid;
                grid-gap: 30px;
                grid-column: 1/2;
                grid-row: 1/3;
                &-top {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    p {
                        line-height: 40px;
                    }
                }
                &-bottom {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
            }
            .item1__right {
                grid-column: 2/3;
                grid-row: 1/3;
                @include xs {
                    margin-top: 90px;
                }
            }
        }
        &__item2 {
            margin-top: 90px;
            @include xs {
                margin-top: 60px;
            }
        }
        &__item3 {
            margin-top: 60px;
            display: grid;
            grid-gap: 30px;
            @include xs {
                display: block;
            }
            .item3__left {
                grid-column: 1/2;
                grid-row: 1/3;
            }
            .item3__right {
                grid-column: 2/3;
                grid-row: 1/3;
                display: grid;
                grid-gap: 30px;
                @include xs {
                    margin-top: 60px;
                }
                &-top {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                &-bottom {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    // display: flex;
                    // align-items: flex-end;
                    text-align: right;
                    margin-top: 90px;
                    p {
                        line-height: 40px;
                        color: $white-cl;
                    }
                }
            }
        }
    }
}